@font-face {
    font-family: 'gilroyextrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #121212;
    
}


h1{
    font-family: 'Gilroyextrabold';
    color: #fff;
    font-size: 2.5rem;
    margin-top: 2%;

}

h2{
    font-family: 'Manrope', 'sans-serif';
    color: #fff;
    font-size: 1.75rem;
    margin-top: 1%;
    
}

p{
    font-family: 'manrope', 'sans-serif';
    color: #808080;
    font-size: 1.125rem;
    margin-top: 1%;
    
}



@media screen and (max-width:500px){

    h1{
        font-family: 'Gilroyextrabold';
        color: #fff;
        font-size: 1.5rem;
        margin-top: 2%;
        
    }
    
    h2{
        font-family: 'Manrope', 'sans-serif';
        color: #fff;
        font-size: 1.5rem;
        margin-top: 1%;
        
    }
    
    p{
        font-family: 'manrope', 'sans-serif';
        color: #808080;
        font-size: 1rem;
        margin-top: 1%;
       
    }
    
}

.backgroundhero{
    width: 100%;
    z-index: -10;

}

/* top nav */

#navigation{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 0% 5% 0%;
    display: flex;
    animation: fadeIn 3s;
    
}

.navlink{
    font-family: 'Gilroyextrabold';
    color: #808080;
    font-size: 1.25rem;
    text-decoration: none;
}

.navlink:hover{
    font-family: 'Gilroyextrabold';
    color: #03DAC6;
    font-size: 1.25rem;
    text-decoration: none;
    
}

@media screen and (max-width:500px){

    #navigation{
        display: flex;
        justify-content: space-evenly;
        margin: 10% 0% 10% 0%;
        display: flex;
        animation: fadeIn 3s;
        
    }
    
    .navlink{
        font-family: 'Gilroyextrabold';
        color: #808080;
        font-size: 1.125rem;
        text-decoration: none;
    }
    
    .navlink:hover{
        font-family: 'Gilroyextrabold';
        color: #03DAC6;
        font-size: 1.125rem;
        text-decoration: none;
    }

    .icon{
        width: 16px;
    }


}


/* introcard */

.heroimg{
    border-radius: 3000px;
    padding: 2%;
    width: 40%;
    animation: fadeIn 3s;
}

.introduction_card{
   
    margin: -45% 5% 2% 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.961);
    border-radius: 0 0 30px 30px;
    animation: fadeIn 3s;
    
}

@media screen and (max-width:500px){

    .heroimg{
        border-radius: 3000px;
        margin-top: 5%;
        padding: 2%;
        width: 40%;
        animation: fadeIn 3s;
    }


}

/* top icons */

.icons{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    
}

.icon{
    width: 24px;
    margin: 7% 0% 7% 0%;
    opacity: 50%;
}

.icon:hover{
    opacity: 100%;
 
}

.iconlinktop{
    position: relative;
    margin: 5% 15% 5% 15%;
}

/* top icons */

#about{
    
    margin: 5%;
    animation: fadeIn 3s;
    

}

.whoami{
    background-color: #3700b3;
    padding: 5%;
    margin-top: 2%;
    border-radius: 24px 24px 24px 0px;
}

#projects{
    margin: 5%;

}


#OtherCreativeWork{
    margin: 5%;
}

/* Cards------------------ */

.projects{
    margin-top: 5%;
}

.card { 

    padding: 0;
    text-align: center; 
    border-radius: 6px;
    margin-bottom: 10%;
    background: #292929;
    
 
}

.card-title{

    font-family: 'Manrope', 'sans-serif';
    font-size: 1.5rem;
    color: #ffff;

}

.card-body{

    margin-top: 0%;


}


.card-text{

    margin-bottom: 2%;
    margin-top: 0%;
    font-size: 1rem;
    color: #a7a7a7;
    
    
}

.project-img {

    width: 100%;
    object-fit: cover;
    

}

.project-items {

    text-align: center;
}



.card:hover {

    transform: scale(1.05);
    transition: 0.5s ease;
}



/* Cards------------------ */

/* workex */

#workexperience{
    margin: 5%;

}

.workex{
    background-color: #bb86fc;
    padding: 2.5%;
    border-radius: 24px 24px 24px 0px;
    margin: 5% 0%;

}

/* youtube */

.youtubechannel{
    background-color: #3700b3;
    border-radius: 16px 16px 16px 0px;
    margin: 5% 0.5% 5% 0.5%;
}

.youtubeitem{
    
    padding: 5%;
    
}

.youtubeSS{
    margin: auto;
    width: 120%;
}

.youtube-button{

    position: relative;
    margin: 5% auto 2% auto;
    white-space: nowrap;
    font-family: 'manrope', 'sans-serif';
    font-weight: bold;
    color: #ffff;
    border-radius: 4px;
    
}


.fa-brands{

    margin-right: 0.5rem;
    color: #c4302b;


}

@media screen and (max-width:800px){

    .youtubeSS{
        margin: auto;
        width: 100%;
    }

    .youtubeitem{
    
        padding: 4%;
        
    }

    .youtube-button{
        margin: 5% auto 5% auto;
    }
    
}

/* footer */

#footer{
    margin: 2% 0% 3% 2%;
    padding: 5%;
}

.footer{
    padding: 2%;
}

.footer-line{
    height: 5px; 
    width: 100%;
    background-color: #03DAC6; 
    border-radius: 30px;
    margin: 5% 0 0 2%;
}

.backtotop{
    margin: 0%;
    color: #808080;
}

.backtotop:hover{
    text-decoration: none;
    color: #fff;
}

.footer-link{
    font-family: 'Manrope', 'sans-serif';
    text-decoration: none;
    color: #808080;
    margin: 1% 0% ;
}

.footer-link:hover{
    color: #03dac6;
    text-decoration: none;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    
}

.footer-icon{
    width: 24px;
    margin: 10% 15% 10% 0% ;
    opacity: 50%;
}

.iconlink{
    margin: 5% 10% 0% 0%;
}

.footer-icon:hover{
    /* background-color: #ffffff;
    border-radius: 8px;
    color: #121212;
    padding: 1%; */
    opacity: 100%;

}

.copyright{
    margin:5% 0% 0% 0%;
}

/* fade in animation */

@keyframes fadeIn {
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}

/* scroll reveal animation */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 0.75s ease;
  }
  
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }